<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="'**'">Brett Adamson</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="'/experiences'">Work Portfolio</a></li>
        <li><a href="#">My Life</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" bpDropdown>
          <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="'/contact'">Email</a></li>
            <li><a href="https://github.com/adamsonb12">Github</a></li>
            <li><a href="https://www.linkedin.com/in/brett-adamson">LinkedIn</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
