<div id="content-description" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{selectedExperience?.title}}</h1>
      <h3>{{selectedExperience?.location}}</h3>
    </div>
  </div>
  <hr>

  <div class="col-md-4 col-xs-12">
    <img class="img-content" src="{{selectedExperience.imagePath}}">
  </div>

    <div class="col-md-8 col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngIf="selectedExperience.bullet1">{{selectedExperience?.bullet1}}</li>
        <li class="list-group-item" *ngIf="selectedExperience.bullet2">{{selectedExperience?.bullet2}}</li>
        <li class="list-group-item" *ngIf="selectedExperience.bullet3">{{selectedExperience?.bullet3}}</li>
        <li class="list-group-item" *ngIf="selectedExperience.bullet4">{{selectedExperience?.bullet4}}</li>
        <li class="list-group-item" *ngIf="selectedExperience.bullet5">{{selectedExperience?.bullet5}}</li>
        <li class="list-group-item" *ngIf="selectedExperience.bullet6">{{selectedExperience?.bullet6}}</li>
      </ul>
    </div>

</div>
